<img class="about-icon" src="styles/images/brackets_icon.png">
<div class="about-text">
    <h2>Brackets</h2>
    <p class="dialog-message">sprint 9 experimental build <span id="about-build-number"><!-- populated programmatically --></span></p>
    <p class="dialog-message">Copyright 2012 Adobe Systems Incorporated and its licensors. All rights reserved.</p>
    <p class="dialog-message">Notices, terms and conditions pertaining to third party software are located at <span class="non-clickble-link">http://www.adobe.com/go/thirdparty/</span> and incorporated by reference herein.</p>
    <p class="dialog-message">Documentation and source at <span class="non-clickble-link">https://github.com/adobe/brackets/</span></p>
</div>